{
  "extends": "stylelint-config-sass-guidelines",
    "rules": {
      "indentation": null,
      "block-no-empty": true,
      "color-hex-case": "lower",
      "declaration-block-trailing-semicolon": "never",
      "function-comma-space-after": "always",
      "selector-pseudo-element-no-unknown": true,
      "scss/at-mixin-pattern": "[a-zA-Z]",
      "number-leading-zero": "always"
    }
}
