@import ../../css/color
@import ../../css/support

.button
  @include position
  align-items: center
  border-radius: 8px
  color: $text-title-color
  width: 100%
  height: 37px

  & p
    display: flex
    align-items: center
    justify-content: center
    height: 100%
    width: 100%
    font-style: normal

  &.neutral
    background-color: $background-color

  &.positive
    background-color: $save-color

  &.negative
    background-color: $error-color
