<main>
    <div style="display: flex;justify-content: center;flex-direction: column;">
        <div class="div__panel-for-error">
            <img src={{ image_404 }} alt="Изображение ошибки 404"/>
            <h2>Такой страницы не найдено.</h2>
            {{> button custom_style="margin-top:170px;width:280px;height:38px;align-self: center" button__state="neutral" button__text="Назад к чатам"}}
        </div>

    </div>
</main>
