<form class="for_event_form" style="display: flex;justify-content: center;flex-direction: column;">
    <div style="height: 70%" class="div__form-input">
        <h1 style="margin-top: 100px">Добро пожаловать в<br>COSMESS</h1>

        {{{ inputLogin }}}
        {{{ inputPassword }}}
    </div>

    <div style="margin-top: 145px;height: 30%" class="div__form-input">
        {{{ button }}}
        {{{ labelReg }}}
    </div>
</form>
