<form class="for_event" style="display: flex;justify-content: center;flex-direction: column;">
    <div style="height: 70%" class="div__form-input">
        <h1 style="margin-top: 100px">Добро пожаловать в<br>COSMESS</h1>

        {{{ input_login }}}
        {{{ input_password }}}
    </div>

    <div style="margin-top: 145px;height: 30%" class="div__form-input">
        {{{ button }}}
        <label style="margin-top: 15px" class="div__form-input__label">Нет аккаунта?</label>
    </div>
</form>
