<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Chat</title>
</head>

<body>

<div class="main">
<div style="display: flex;flex-direction: row;">

    <div class="div__base_left-menu">

        <div class="left-menu__top-panel">
            <div class="div__menu-user">
                <span style="margin-top: 10px" class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
            {{> find style_width="width:70%;margin-top:10px" type_name="find_user" input__value=""}}
        </div>

        <div class="left-menu__chats">
            {{> message_preview message_data="10:49" message_text="Изображение" message_user="Андрей" show_message_count=true message_count="2" }}
            {{> message_preview message_data="12:00" message_text="стикер" message_user="Киноклуб" last_message_is_you=true}}
            {{> message_preview message_data="Ср"  message_user="Илья" message_text="Друзья, у меня для вас особенный выпуск новостей! Какая-то другая информация" message_count="4" show_message_count=true}}
            {{> message_preview message_data="12 Мая 2020" message_user="Вадим" message_text="Круто" last_message_is_you=true message_count="1" show_message_count=true}}
        </div>
    </div>
    <div class="div__base_right-menu">
        <div style="display: flex;width: 100%;height: 100%;flex-direction: column;justify-content: center;align-items: center">
            <img style="width: 150px;height: 222px;display: flex;" src="{{icon_rocket}}" alt="Иконка ракеты">
            <p class="p__text-hello">Выберете чат,<br>чтобы начать общение!</p>
        </div>
    </div>
</div>
</div>

<div class="background-image"/>
</body>
</html>
