 <div style="height: 290px;" class="div__dialog_ask"><p id=title_dialog_ask>Добавить пользователя</p>
     <div style="width:80%;margin-top:-10px">
         {{{ input__info }}}
     </div>
     {{{ button__add }}}
     {{{ button__cancel }}}
 </div>
