<div style="height: 290px;" class="div__dialog_ask"><p id=title_dialog_ask>{{ title }}</p>
    <div style="width:80%;margin-top:-10px">
        {{{ label__info }}}
    </div>
    {{{ button__add }}}
    {{{ button__cancel }}}
</div>
