<div style="padding:8px;align-items: center;text-align:left;display:flex;flex-direction: column">
    <div class="all_links">
    </div>
    <div class="delimiter">
    </div>
    {{{ exitLabel }}}
</div>
