<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>


<div  style="display: flex;justify-content: center;flex-direction: column;">
    <div  style="height: 80%" class="div__form-input">
        <p style="margin-top: 100px" class="title">Регистрация</p>

        {{> input input__value="" input__placeholder="Почта"}}
        {{> input input__value="" input__placeholder="Логин"}}
        {{> input input__value="" input__placeholder="Имя"}}
        {{> input input__value="" input__placeholder="Фамилия"}}
        {{> input input__value="" input__placeholder="Телефон"}}
        {{> input input__value="" input__placeholder="Пароль" input__is-password=true}}
        {{> input input__value="" input__placeholder="Пароль (еще раз)" input__is-password=true}}
    </div>

    <div style="margin-top: 50px;height: 30%" class="div__form-input">
        {{> button button__state="neutral" button__text="Зарегистрироваться"}}
        <label style="margin-top: 15px" class="div__form-input__label" href="src/pages/authorization/authorization.html">Войти</label>
    </div>
</div>

<img class="background-image" src={{ image }}>
</body>
</html>