<main>
    <form style="display: flex;justify-content: center;flex-direction: column;">

        <h1 style="margin-top: 50px">Изменить пароль</h1>

        <div style="height: 80%;width: 40%;margin-top: 40px;" class="div__form-input">
            {{> input input__value="" type_name="oldPassword" input__placeholder="Старый пароль" input__is-password=true}}
            {{> input input__value="" type_name="newPassword" input__placeholder="Новый пароль" input__is-password=true}}
            {{> input input__value="" type_name="newPasswordRepead" input__placeholder="Повторите новый пароль" input__is-password=true}}
        </div>

        <div style="margin-top: 359px;height: 15%;" class="div__form-input__buttons">
            {{> button custom_style="width:45%;" button__state="neutral" button__text="Отмена"}}
            {{> button custom_style="width:45%;" button_type="submit" button__state="positive" button__text="Сохранить"}}
        </div>
    </form>
</main>
