<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
</head>

<body>


<div style="display: flex;justify-content: center;flex-direction: column;">
    <div style="margin-top: 25px;" name="avatar" class="div__empty-icon"></div>

    <div style="height: 80%;width: 40%;margin-top: 10px;" class="div__form-input">
        {{> input input__value="" type_name=email input__placeholder="Почта"}}
        {{> input input__value="" type_name=login input__placeholder="Логин"}}
        {{> input input__value="" type_name=first_name input__placeholder="Имя"}}
        {{> input input__value="" type_name=second_name input__placeholder="Фамилия"}}
        {{> input input__value="" type_name=display_name input__placeholder="Имя в чате"}}
        {{> input input__value="" type_name=phone input__placeholder="Телефон"}}
    </div>

    <div style="margin-top: 25px;height: 15%;" class="div__form-input__buttons">
        {{> button custom_style="width:45%;" button__state="neutral" button__text="Изменть настройки"}}
        {{> button custom_style="width:45%;"  button__state="neutral" button__text="Изменть пароль"}}
    </div>
    <div style="margin-top: 20px;height: 15%;" class="div__form-input__buttons">
        {{> button custom_style="width:45%;" button__state="neutral" button__text="Назад"}}
        {{> button custom_style="width:45%;"  button__state="negative" button__text="Войти"}}
    </div>
</div>

<div class="background-image"/>
</body>
</html>