<div class="div__top-chat-user">
    <div class="icon-avatar"></div>
    <p>{{ chatUser }}</p>
    <div style="margin: 15px" class="div__menu-user">
        <img src={{ iconSetting }}>
    </div>
</div>
<div class="panel_for_message">
<div class="all_message">

</div>
</div>
<div class="div__bottom-chat-message">
    <img src={{ iconAddObject }} alt="Иконка добавления объекта">
    <input name="message" class="input__for-chat"/>
    <img id="icon_send_message" src={{ iconSendMess }} alt="Иконка добавления объекта">
</div>
