<div class="div__panel-for-error">
    <img src="{{ image500 }}" alt="Изображение ошибки 500"/>
    <h2>На просторах вселенной произошел сбой.<br>Команда специалистов приступила к устранению.
    </h2>
    {{{ buttonBack }}}
</div>
