<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Error</title>
</head>

<body>
<div class="main">
<div style="display: flex;justify-content: center;flex-direction: column;">
    <div class="div__panel-for-error">
        <img src={{ image_500 }} alt="Изображение ошибки 500"/>
        <p class="p__error-text">На просторах вселенной произошел сбой.<br>Команда специалистов приступила к устранению.
        </p>
        {{> button custom_style="margin-top:150px;width:280px;height:38px;align-self: center" button__state="neutral" button__text="Назад к чатам"}}
    </div>

</div>
</div>

<div class="background-image"/>
</body>
</html>
