<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>CosMess</title>
</head>

<body>
<div class="main">
<div class="div__for_dialog__dialog_ask" style="display: none;">
    <div style="height: 260px;" class="div__dialog_ask"><p id=title_dialog_ask>Загрузите файл</p>
        <p style="margin-top: 30px" class="select-file">Выбрать файл <br> на компьютере</p>
        {{> button custom_style="width:80%;margin-top: 30px"  button__state="neutral" button__text="Изменить"}}
        <p style="margin-top: 10px" class="error">Нужно выбрать файл</p>
    </div>
</div>

<div style="display: flex;justify-content: center;flex-direction: column;">

    <p style="margin-top: 50px" class="title">Изменить данные</p>

    <div style="height: 80%;width: 40%;margin-top: 40px;" class="div__form-input">
        {{> input input__value="" type_name=email input__placeholder="Почта"}}
        {{> input input__value="" type_name=login input__placeholder="Логин"}}
        {{> input input__value="" type_name=first_name input__placeholder="Имя"}}
        {{> input input__value="" type_name=second_name input__placeholder="Фамилия"}}
        {{> input input__value="" type_name=display_name input__placeholder="Имя в чате"}}
        {{> input input__value="" type_name=phone input__placeholder="Телефон"}}
    </div>

    <div style="margin-top: 80px;height: 15%;" class="div__form-input__buttons">
        {{> button custom_style="width:45%;" button__state="neutral" button__text="Отмена"}}
        {{> button custom_style="width:45%;"  button__state="positive" button__text="Сохранить"}}
    </div>

</div>
</div>

<div class="background-image"/>
</body>
</html>
